  $color-principal-claro: #6699CC;
  $color-principal: #4381C1;
  $color-principal-oscuro: #2E5C8A;

  $color-secundario-claro: #E26584;
  $color-secundario: #D8315B;
  $color-secundario-oscuro: #78172F;
  
  $color-claro: #F7F9F9;
  $color-oscuro: #08090D;

  $blanco: #fff;
  $negro: #000;
  
  $border-radius: 5px;