@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto Condensed", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: $color-oscuro;
  color: $color-claro;
}

a {
  color: $color-secundario;
  text-decoration: none;
  transition: all 0.5s;

  &:hover {
    color: $color-principal;
  }
}

img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}

.page-wrapper {
  padding-top: 70px;
}

.contenedor {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;

  &--flex {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  &--fluid {
    max-width: 100%;
  }

  &__titulo {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
  }

  @media (min-width: 768px) {
    max-width: 700px;

    &--fluid {
      max-width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }
    
    &__titulo {
      font-size: 35px;
      margin-bottom: 40px;
    }
  }
  
  @media (min-width: 992px) {
    max-width: 880px;

    &--fluid {
      max-width: 100%;
      padding-left: 40px;
      padding-right: 40px;
    }
    
    &__titulo {
      font-size: 55px;
      margin-bottom: 50px;
    }
  }

  @media (min-width: 1440px) {
    max-width: 1280px;

    &--fluid {
      max-width: 1905px;
      padding-left: 65px;
      padding-right: 65px;
    }
  }
}
