.boton {
  border-radius: $border-radius;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  padding: 14px 20px;
  position: relative;
  z-index: 10;
  
  span {
    &::after {
      border-radius: $border-radius;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      transition: all 0.5s;
      top: 0;
      width: 0;
      z-index: -1;
    }
  }

  &--solid {
    border: 1px solid $color-principal;
    background-color: $color-principal;
    color: $blanco;
    
    &:hover {
      color: $blanco;
      
      span {
        &::after {
          background-color: $color-oscuro;
          width: 100%;
        }
      }
    }
  }
  
  &--outline {
    border: 1px solid $color-principal;
    color: $blanco;
    
    &:hover {
      color: $blanco;
      
      span {
        &::after {
          background-color: $color-principal;
          width: 100%;
        }
      }
    }
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.boton--secundario {
  &.boton--solid {
    border: 1px solid $color-secundario;
    background-color: $color-secundario;
    
    &:hover {
      color: $color-secundario;
      
      span {
        &::after {
          background-color: $blanco;
          width: 100%;
        }
      }
    }
  }
  
  &.boton--outline {
    border: 1px solid $color-secundario;
    color: $color-secundario;
    
    &:hover {
      color: $blanco;
      
      span {
        &::after {
          background-color: $color-secundario;
          width: 100%;
        }
      }
    }
  }
}