$color-footer: #ebebeb;

.footer-titulo {
  color: $color-footer;
  font-size: 60px;
  text-align: center;
  transform: translateY(20px);
  pointer-events: none;
}

.footer {
  background-color: $color-footer;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 10;

  .contenedor {
    align-items: flex-start;
  }

  &__col {
    flex: 1 1 100%;
    margin-bottom: 30px;

    &__titulo {
      color: $color-oscuro;
      font-size: 25px;
      margin-bottom: 20px;
    }
  }

  &__copyright {
    color: $color-oscuro;
    text-align: center;
  }
}

.contacto-item {
  font-size: 18px;
  letter-spacing: 0.3px;
  font-weight: bold;
  
  &__icono {
    margin-right: 10px;
    margin-bottom: 3px;
    max-width: 20px;
    max-height: 20px;
    vertical-align: middle;
  }
  
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .footer-titulo {
    font-size: 100px;
    transform: translateY(35px);
  }

  .footer {
    padding-top: 70px;
    padding-bottom: 70px;

    &__col {
      flex: 1 1 30%;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}

@media (min-width: 992px) {
  .footer-titulo {
    font-size: 150px;
    transform: translateY(50px);
  }
  
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}