.header {
  background-color: $color-oscuro;
  justify-content: space-between;
  left: 0;
  position: fixed;
  padding-bottom: 20px;
  padding-top: 20px;
  top: 0;
  width: 100%;
  z-index: 99;

  &__titulo {
    color: $blanco;
    margin: 0;
    
    h2 {
      color: $color-principal-claro;
      display: none;
    }

    img {
      max-width: 20px;
      max-height: 18px;
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  &__nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__menu {
    align-items: center;
    display: flex;
    margin-left: auto;

    &__item {
      color: $blanco;
      padding: 5px 15px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;

      &:last-child {
        padding-right: 0;
      }

      &::after {
        content: "";
        background-color: $color-principal;
        display: block;
        width: 0;
        height: 2px;
        transition: all 0.5s;
      }

      &:hover,
      &.activo {
        color: $blanco;

        &::after {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .header {
    &__titulo {
      h2 {
        display: inline-block;
      }
    }
  }
}

@media (min-width: 992px) {
}
