.hero {
  align-items: center;
  background: $color-oscuro;
  display: flex;
  min-height: 100vh;
  padding-bottom: 50px;
  padding-top: 50px;
  position: relative;

  h1 {
    font-size: 65px;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.2em;
    opacity: 0.8;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__contenedor {
    align-items: center;
  }

  &__contenido {
    margin-bottom: 50px;
  }

  &__ilustracion {
    margin-bottom: 80px;
  }

  &__bajar {
    align-items: center;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    text-transform: uppercase;

    img {
      margin-top: 10px;
      width: 11px;
    }
  }
}

@media (min-width: 768px) {
  .hero {
    padding-bottom: 70px;
    padding-top: 70px;

    &__contenedor {
      display: flex;
    }

    &__contenido {
      margin-bottom: 0;
      width: 50%;
    }

    &__ilustracion {
      margin-bottom: 0;
      width: 50%;
    }
  }
}

@media (min-width: 992px) {
}
