.project-feature-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;
}

.project-feature {
  margin-bottom: 30px;
  text-align: center;

  &__titulo {
    color: $color-principal-claro;
    font-size: 18px;
    margin-bottom: 10px;
  }

  &__descripcion {
    line-height: 22px;
    opacity: 0.8;
  }

  &:nth-child(2n) {
    .project-feature__titulo {
      color: $color-secundario-claro;
    }
  }
}

@media (min-width: 768px) {
  .project-feature-container {
    margin-bottom: 20px;
  }

  .project-feature {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 50%;

    &__titulo {
      font-size: 20px;
    }
  }
}

@media (min-width: 992px) {
  .project-feature {
    padding-left: 25px;
    padding-right: 25px;
    max-width: 20%;
  }
}