.resume__item {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;

  &__titulo {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  &__subtitulo {
    color: $color-principal;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__fecha {
    opacity: 0.8;
  }

  &__descripcion {
    line-height: 1.4em;
    margin-bottom: 10px;
    opacity: 0.9;
  }

  *:last-child {
    margin-bottom: 0;
  }
}