.tarjetas-trabajos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tarjeta-trabajo {
  background-color: $color-claro;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  margin-bottom: 35px;
  overflow: hidden;
  
  &__imagen {
    background-color: $color-principal;
    background-size: cover;
    background-position: center top;
    display: flex;
    transition: all 2s linear;
    
    &::before {
      content: '';
      display: table;
      padding-top: 60%;
    }
  }
  
  &__cuerpo {
    color: $color-oscuro;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    padding: 20px 15px 25px;
    
    &__titulo {
      font-size: 24px;
      margin-bottom: 15px;
    }
    
    &__descripcion {
      opacity: 0.8;
      letter-spacing: 0.5px;
      line-height: 22px;
      margin-bottom: 30px;
    }
  }

  .boton {
    padding: 0;
    margin-top: auto;

    &::after {
      content: '';
      background-color: $color-secundario;
      display: block;
      width: 0;
      height: 2px;
      transition: all 0.5s;
    }

    &:hover {
      color: $color-secundario;

      &::after {
        width: 100%;
      }
    }
  }
  
  &:hover {
    .tarjeta-trabajo__imagen {
      background-position: center bottom;
      transition: all 10s linear;
    }
  }
}

@media (min-width: 768px) {
  .tarjeta-trabajo {
    max-width: calc(50% - 30px);
    margin-left: 15px;
    margin-right: 15px;

    &__cuerpo {
      padding: 30px 30px 35px;

      &__titulo {
        font-size: 32px;
      }
    }
  }
}

@media (min-width: 992px) {
  .page-wrapper {
    .tarjeta-trabajo {
      max-width: calc(33% - 30px);
    }
  }
}

@media (min-width: 1240px) {
  .page-wrapper {
    .tarjeta-trabajo {
      max-width: calc(25% - 30px);
    }
  }
}