.resume {
  &__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    
    &__imagen {
      border-radius: $border-radius;
      box-shadow: -5px -5px 0px $color-principal;
      max-width: 250px;
    }

    &__info {
      padding: 30px 15px;
      
      *:not(:last-child) {
        margin-bottom: 15px;
      }

      h1 {
        margin-top: 0;
        margin-bottom: 10px;
      }

      h2 {
        margin-bottom: 30px;
      }
      
      p {
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
      }

      a {
        display: inline-block;
        font-weight: bold;
      }
    }
  }

  &__bloque {
    margin-bottom: 20px;

    h2 {
      border-bottom: 2px solid $color-secundario;
      padding-bottom: 5px;
      color: $color-secundario;
      font-size: 25px;
      letter-spacing: 0.8px;
      margin-bottom: 5px;
    }
  }
}

@media (min-width: 768px) {
  .resume {
    &__header {
      flex-direction: row;

      &__imagen {
        margin-right: 40px;
      }

      &__info {
        padding: 0;

        h1 {
          font-size: 50px;
        }
      }
    }

    &__bloque {
      margin-bottom: 30px;
    }
  }
}