.seccion {
  padding-top: 50px;
  padding-bottom: 50px;

  &--principal {
    background-color: $color-principal;
  }

  &--secundaria {
    background-color: $color-secundario;
  }

  &--clara {
    background-color: $color-claro;
    color: $color-oscuro;
  }

  .contenedor__titulo {
    color: $color-claro;
  }
}

.imagen-circular {
  border-radius: $border-radius;
  box-shadow: -5px -5px 0px $color-principal;
  margin: 0 auto;
  width: 70%;
}

.tarjeta-sobre-mi {
  box-shadow: -5px -5px 0px $color-secundario;
  border-radius: $border-radius;
  background-color: $color-claro;
  color: $color-oscuro;
  margin-top: 30px;
  padding: 20px 20px;

  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  p {
    opacity: 0.8;
    line-height: 25px;
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 10px 0;
    }
  }

  .boton {
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  .seccion {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .imagen-circular {
    width: 30%;
  }

  .tarjeta-sobre-mi {
    margin-top: 0;
    margin-left: 50px;
    padding: 50px 30px;
    width: 60%;
    
    h2 {
      font-size: 35px;
    }
  }
}

@media (min-width: 992px) {
  .seccion {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}